.home-container {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/border.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: flex-start; /* content starts at top */
  position: relative;
}
.home-content {
  width: 100%;
  text-align: center;
  margin-top: 180px; /* adjust this to sit below the leaves */
  z-index: 2;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #934e24;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.35);
}

.headerWrapper {
  width: 100%;
  height: 330px;
  overflow: hidden;
}

.headerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subTitle {
  font-size: 18px;
  color: #0c0c0c;
  margin-top: 10px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.25);
}

.button {
  margin-top: 40px;
  width: 150px;
  padding: 15px;
  background-color: #934e24 !important;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 3px 4px rgba(0,0,0,0.75);
}
