

.h1{
 font-size: 22px;
 font-weight: bold;
}
.viewPhoto-container {
  text-align: center;
  padding: 20px; 
}

.viewPhoto-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  border: 2px solid #4caf50;
  box-shadow: 0 2px 3px #928984 ;

}

.back-btn {
  margin-top: 20px;
  padding: 12px 20px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 120px !important;
  box-shadow: 0 2px 3px #928984 ;
}
